# Do not remove this line, otherwise mod_rewrite rules will stop working
#RewriteBase /

ErrorDocument 404 /index/index.php?e=404

Options +MultiViews
RewriteEngine On
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule !.*\.html$ %{REQUEST_FILENAME}.html [L]