/*
Debug your CSS
"sourceComments": true,
"outputStyle": "nested"
*/

p {
    margin: 5px auto;
}

body {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    //    background: linear-gradient(#97ffe7,#6cc74f);
    background-image: url('https://i.ytimg.com/vi/Z6eG4pemWs4/maxresdefault.jpg');
    background-size: 100%;
    background-position: left;
    background-color: #a2fc61;
    background-blend-mode: multiply;
    color: #fff;
    margin: 0;
    font-size: 25px;
}

header {
    background: #3bc9a8;
    padding: 5px;
    border-bottom: 5px solid #38ceac;
    border-top: 5px solid #7dffe2;
    margin-top: 20px;
    h1 {
        border-bottom: 1px dashed;
        margin: auto;
    }
    p {
        margin: 20px auto;
    }
}

.wrapper {
    width: 70%;
    min-width: 400px;
    margin: auto;
    background: #0f6174;
    @media screen and (max-width: 700px) {
        width: 100%;
        font-size: 20px;
    }
}

.topic {
    background: rgba(0, 0, 0, 0.17);
    margin-bottom: 10px;
    overflow: hidden;
    h2 {
        font-size: 2.2em;
        margin: 20px auto;
    }
}

.prop {
    background: #118d70;
    overflow: hidden;
    border: 4px solid #05643c;
    margin: 10px 30px;
    border-radius: 50px;
    @media screen and (max-width: 700px) {
        width: 98%;
        margin: 10px auto;
    }
}

.explain {
    margin: auto;
    font-family: 'Roboto Condensed', sans-serif;
    line-height: 1em;
    padding: 2px;
    color: #fff;
    background: #1c504e;
    padding-left: 15px;
    padding-right: 15px;
}

h3 {
    font-size: 1em;
    margin: 20px auto;
    padding: 0px 10px;
}

.examples {
    h4 {
        margin: 2px auto;
        font-size: 1.25em;
    }
    background: #168355;
    border-top: 2px solid #4ccc64;
    margin: 5px auto;
    font-size: .8em;
    padding: 10px;
    @media screen and (max-width: 700px) {
        padding: 2px;
    }
    p {
        margin: 2px auto;
    }
}

img {
    max-width: 800px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 5px solid #0f7449;
    @media screen and (max-width: 700px) {
        width: 100%;
    }
}

span.mono {
    font-family: 'Roboto Mono';
    letter-spacing: -1px;
    font-size: .8em;
    vertical-align: middle;
    color: #eeff65;
    padding: 4px;
    border-radius: 1px;
}

table {
    margin: auto;
    font-size: 1em;
    td {
        border: 1px solid #000000;
        padding: 10px;
        text-align: center;
    }
}